.flex-container {
  display: flex;
}

.flat-address {
  color: rgba(42,71,64,0.7);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  height: fit-content;
  background: #656839;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-danger {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  height: fit-content;
  background-color: #472a31;
  border-color: #472a31;
  transition: background 0.3s ease;
}

.btn-danger:hover {
  color: white;
}


#carouselExampleControls {
  img {
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
}

.padded-headers-top {
  padding-top: 20px;
}

.padded-headers-bot {
  padding-bottom: 20px;
}

.header-font-weight {
  font-weight: bold;
}
