<div class="flats-index-container">
  <div id="map-container">
    <%= render 'search_bar' %>
    <%= render 'map' , { search_location: @searchlocation } unless @flats == [] %>
  </div>
  <div class="flats-index-card-grid">
    <h4 class="my-4"><strong><%= @message %></strong></h4>
    <!-- duplicate renders until we get more seeds-->
    <% 10.times do %>
      <%= render 'flat_grid', {flats: @flats} unless @flats == [] %>
    <% end %>
  </div>
</div>

