<div class="flats-index-container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <div id="map-container">
        <%= render 'search_bar' %>
        <%= render 'map' , { search_location: @searchlocation } unless @flats == [] %>
      </div>
    </div>
    <div class="mt-3 col-12 col-sm-6 col-lg-8">
      <div class="flats-index-card-grid">
        <h4><%= @message %></h4>
        <!-- duplicate renders until we get more seeds-->
        <%= render 'flat_grid', {flats: @flats} unless @flats == [] %>
      </div>
    </div>
  </div>
</div>
