<!-- new booking page, in addition to partial to catch validation callback -->
<div class="container mt-4 border p-3 rounded">
  <h1>Booking request</h1>
  <%= simple_form_for [@flat, @booking] do |f| %>
    <%= f.input :from_date, as: :string, input_html: {type: :date, value: Time.now.strftime('%Y-%m-%d')} %>
    <%= f.input :to_date, as: :string, input_html: {type: :date, value: Time.now.strftime('%Y-%m-%d')}%>
    <%= f.button :submit, "Request to book", class:"btn btn-primary nomad-button" %>
  <% end %>
</div>
