<div class="container mt-4">
<!-- Welcome message is set by controller depending on whether user has a name
 -->
  <h1><%= @message %></h1>
<!-- Partial for booking requests -->
  <%= render 'upcoming_bookings', class: "text-center" %>
<!-- Partial for confirmed bookings -->
  <%= render 'past_bookings' %>
  <br>
<!-- Partial for flats list view (if host logic needs to be implemented) -->
</div>
