<div class="container mt-4">
  <% if !current_user.first_name.nil? %>
    <h1>Hi <%= current_user.first_name %>, welcome to your dashboard!</h1>
  <% else %>
    <h1>Welcome to your dashboard!</h1>
  <% end %>

  <%= render 'booking_request_list' %>

  <%= render 'confirmed_bookings_list' %>

  <%= render 'host_flat_list' %>
</div>
