<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 recently-booked">
      <br>
      <h2 class="homepage-h2">Our favourite getaways...</h2>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card getaway-card">
        <img src="https://images.unsplash.com/photo-1519395612667-3b754d7b9086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="Yurt in the countryside">
        <div class="card-body">
          <h5 class="card-title">Alone in the Woods</h5>
          <p class="card-text">Special place close to bears.</p>
          <p class="card-text"><small class="text-muted">Last booked <%= rand(1..10) %> days ago</small></p>
        </div>
      </div>
    </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card getaway-card">
          <img src="https://images.unsplash.com/photo-1528638432104-d57d9b4d7e59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="Yurt in the countryside">
          <div class="card-body">
            <h5 class="card-title">Dessert in the Desert</h5>
            <p class="card-text">Bring a water bottle.</p>
            <p class="card-text"><small class="text-muted">Last booked <%= rand(1..10) %> days ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card getaway-card">
          <img src="https://images.unsplash.com/photo-1536395155544-a3ba483e0b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="card-img-top" alt="Yurt in the countryside">
          <div class="card-body">
            <h5 class="card-title">Mongolian Yurt (cosy and warm)</h5>
            <p class="card-text">Really spacious yurt where you will live like a local.</p>
            <p class="card-text"><small class="text-muted">Last booked <%= rand(1..10) %> days ago</small></p>
          </div>
        </div>
      </div>
  </div>
  <br>
  <br>
  <br>
