<div class="banner homepage-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1452473767141-7c6086eacf42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <%= render 'shared/signup_modal' %>
  <%= render 'shared/login_modal' %>


    <div class="container">
        <h1>Nomad</h1>
        <p>Find your perfect cabin, yurt or teepee and escape the noise</p>
        <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
          <div class="search-form-control form-group">
            <input id="address-input" class="form-control string required" placeholder="Where do you fancy?" type="text" name="search" id="search_query" />
            <button name="button" type="submit" class="nomad-button search-button">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        <% end %>
    </div>
</div>

<%= render 'favourite_getaways' %>

</div>

