<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1452473767141-7c6086eacf42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="login"><button name="login" type="submit" class="btn btn-light">Login</button>
  </div>
    <div class="container">
        <h1>Nomad</h1>
        <p>Find your perfect cabin, yurt or teepee and escape the noise</p>
        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
          <div action="flats" method="get" class="search-form-control form-group">
            <input class="form-control string required" placeholder="Location" type="text" name="search" id="search_query" />
            <button name="button" type="submit" class="btn btn-dark">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        <% end %>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 recently-booked">
      <h1>Recently booked</h1>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1536395155544-a3ba483e0b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="card-img-top" alt="Yurt in the countryside">
        <div class="card-body">
          <h5 class="card-title">Mongolian Yurt</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last booked 3 days ago</small></p>
        </div>
      </div>
    </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1536395155544-a3ba483e0b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="card-img-top" alt="Yurt in the countryside">
          <div class="card-body">
            <h5 class="card-title">Mongolian Yurt</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last booked 3 days ago</small></p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1536395155544-a3ba483e0b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" class="card-img-top" alt="Yurt in the countryside">
          <div class="card-body">
            <h5 class="card-title">Mongolian Yurt</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last booked 3 days ago</small></p>
          </div>
        </div>
      </div>
  </div>
</div>

