<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<form action="flats" method="get" class="form-inline md-form form-sm active-pink active-pink-2 mt-2">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" name="search" type="text" placeholder="Search"
    aria-label="Search">
</form>
