.avatar {
  width: 56px;
  border-radius: 50%;
  height: 56px;
  object-fit: cover;
  border: 1px solid white;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
  height: 56px;
  object-fit: cover;
  border: 1px solid white;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  border: 1px solid white;
}
