.avatar {
  width: 56px;
  border-radius: 50%;
  height: 56px;
  object-fit: cover;
  border: 1px solid white;
  &:hover {
    opacity: 0.7;
    color: #2A4740;
  }
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
  height: 56px;
  object-fit: cover;
  border: 1px solid white;
  &:hover {
    opacity: 0.7;
    color: #2A4740;
  }
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  &:hover {
    opacity: 0.7;
    color: #2A4740;
  }
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  border: 1px solid white;
  &:hover {
    opacity: 0.7;
    color: #2A4740;
  }
}
