.nomad-button {
  background-color: #2A4740;
  color: white;
}

.nomad-button-invert {
  background-color: white;
  color: #2A4740;
  border-color: #2A4740;
}

.login {
  margin-right: 12px;
}

.button-center {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
