.nomad-button {
  background-color: #2A4740;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 6px 12px;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7;
    color: white;
  }
}

.nomad-button-invert {
  background-color: white;
  color: #2A4740;
  border: 1px solid #2A4740;
  border-radius: 5px;
  padding: 6px 12px;
  transition: opacity 0.5s ease;
    &:hover {
      opacity: 0.7;
    }
}

.login {
  margin-right: 12px;
}

.button-center {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.search-button {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 10px;
}
button:focus {
  outline: none;
}

.your-flats-nav {
  display: flex;
  justify-content: space-between;
  color: #2A4740;
  align-items: center;
}

.add-flats-btn {
  display: flex;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #2A4740;
  transition: opacity 0.5s ease;
    &:hover{
      opacity: 0.7;
    }
p {
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1.5;
  font-size: 12px;
}
i {
  margin-right: 5px;
  font-size: 10px;
  line-height: 1.6;
}
}

#my_link {
  text-decoration: none;
}
