
h1 {
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.recently-booked {
      margin-top: 15px;
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  &:hover {
    transition: box-shadow 0.5s;
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
  }
}

.card-link {
  position: absolute;
  z-index: 200;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-img-booking {
  height: 50px;
  width: 50px;
}
