.nomad-logo {
  color: #F4FEC1;
  background-color: #656839;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-bottom: 5px;
  border: 1px solid #F4FEC1;
  margin-left: 5px;
  transition: background-color 0.5s ease;
    &:hover{
      background-color: #514B23;
    }
i {
  margin-bottom: 9px;
}
}


