.form-actions input{
  border: 1px solid black;
  background-color: #2A4740;
  color: white;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.modal-content {
  border-radius: 5px;
  padding: 10px;
}
