.form-actions input{
  border: 1px solid #F4FEC1;
  background-color: #656839;
  color: #F4FEC1;
  transition: background-color 0.5s ease;
    &:hover {
      background-color: #514B23;
      color: #F4FEC1;
      border: 1px solid #F4FEC1;
    }
}

.form-actions {
  display: flex;
  justify-content: center;
}

.modal-content {
  border-radius: 5px;
  padding: 10px;
}
