.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 2;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}

.navbar-home {
  border-width: 0px;
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  width: 100vw;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 16px;
}

.visible-title {
  font-family:'hind','sans-serif' !important;
  font-weight: bold !important;
  color: #2A4740 !important;
  margin: 0px;
}

.invisible-title {
  opacity: 0;
}




