.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 2;
}

.navbar-home {
  border-width: 0px;
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  width: 100vw
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}





