.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
}

.navbar-home {
  border-width: 0px;
  box-shadow: none;
  background-color: transparent;
  position: fixed;
  width: 100vw;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 16px;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
}





