.new-booking-partial {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 3px;
  position: sticky;
  top: 10px;
  }

.new-booking-form {
  width: 50%;
  margin-top: 5px;
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 3px;
}
