.nomad-logo {
  color: white;
  background-color: #2A4740;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-bottom: 5px;
  border: 1px solid white;
  margin-left: 5px;

  i {
    margin-bottom: 9px;
  }
}

