<div class="container mh-145px">
  <%= simple_form_for([booking, review]) do |f| %>
    <%= f.input :rating, label: false, placeholder: 'Rating', input_html: { min: 0, max: 5} %>
    <%= f.input :content, label: false, placeholder: 'How was your stay?' %>
    <%= f.button :submit, class: "nomad-button-invert" %>
  <% end %>

</div>
